<!-- Begin Navbar -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-2">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <!-- <span class="navmenu">Picleus</span> -->
</button>
<div class="collapse navbar-collapse" id="navbarToggler">
    <div class="navbar-brand">Picleus</div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <%= link_to "Home", "/", class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "About", about_url, class:"dropdown-item" %>
                <%= link_to "Help", help_url, class:"dropdown-item" %>
                <%= link_to "Policy", policy_url, class:"dropdown-item" %>
            </div>
        </li>
    </ul>
</div>
</nav>
<!-- End Navbar -->
<div class="container">
<div class="row">
<h1>About</h1>
</div>
</div>
