<!-- Begin Navbar -->
<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-2">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    <!-- <span class="navmenu">Picleus</span> -->
</button>
<div class="collapse navbar-collapse" id="navbarToggler">
    <div class="navbar-brand">Picleus</div>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <%= link_to "Home", "/", class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%= link_to "About", about_url, class:"dropdown-item" %>
                <%= link_to "Help", help_url, class:"dropdown-item" %>
                <%= link_to "Policy", policy_url, class:"dropdown-item" %>
            </div>
        </li>
    </ul>
</div>
</nav>
<!-- End Navbar -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
        <h1>Policy</h1>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-sm-12">
        <h3>Delete Policy</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        <p>
            All Pictures have the capability to be deleted when viewed independently.
            We put trust into each other when everyone has the capability to delete any picture from an event. 
            It is only responsible to use the delete button for unwanted and unnecessary pictures in an event or pictures that do not belong in that event. 
            <b>Any act of maliciously abusing the delete button is a dick move and I will trace your IP address and add you to a blacklist to prevent you from continual use of the site.</b>
        </p>
        </div>
    </div>
</div>
